/* Hide child categories by default */

.category-child {
    display: none;
    position: relative;
    flex-direction: column;
    border-left: solid #2d3748 1px;

}

#categoriesBlock a{
    text-decoration: none;
    color: black;
    margin: 5px;
}

/* Flex container for the parent and child categories */
.category-drop {
    position: relative;

}

/* Show direct child categories when hovering over the parent */
.category-drop:hover > .category-child {
    display: flex;

}
.category-drop:hover > .category-drop {
    display: flex;
}
.category-child:hover > .category-child {
    border-left: 0;
}

